{% extends 'base.html.twig' %}

{% block title %}Nueva reseva{% endblock %}

{% block body %}
    <h1>Create new Reserva</h1>

    {{ include('reserva/_form.html.twig') }}

    <a href="{{ path('app_reserva_index') }}">Regresar al listado de reservas</a>
{% endblock %}
