{% extends 'base.html.twig' %}

{% block title %}Nueva habitación{% endblock %}

{% block body %}
    <h1>Crear nueva habitación</h1>

    {{ include('habitacion/_form.html.twig') }}

    <a href="{{ path('app_habitacion_index') }}">Regresar al listado</a>
{% endblock %}
