<!DOCTYPE html> 
<html> 
<head> 
    <meta  http-equiv= "Content-Type"  content= "text/html; charset=utf-8"  /> 
    <title> Ocurrió un error: {{  status_text  }} < /title> 
</head> 
<body> 
    <h1> Ocurrió un error </h1> 
    <h2> El servidor devolvió un " {{  status_code  }}  {{  status_text  }} ". </h2> 
</cuerpo> 
</html>