{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error en el servidor/h1>

    <p>
        Acaba de ocurrir un error, por favor, revisa la URL o <a href="{{ path('homepage') }}">regresa a la página principal</a>.
    </p>
{% endblock %}