{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Página no encontrada/h1>

    <p>
        La página no ha sido encontrada, chequea la URL o <a href="{{ path('homepage') }}">regresa a la página principal</a>.
    </p>
{% endblock %}